.center {
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: grey;
}

.flex-container > div {
  padding: 15px;
}

.full {
  width: 100%;
  z-index: -1 !important;
}

button {
  width: 16.66%;
  padding: 10px;
  background-color: white !important;
  border: none !important;
  font-size: 20px;
}

.backgroundBtn {
  border-top: 1px skyblue solid !important;
  border-right: 1px skyblue solid !important;
  border-left: 1px skyblue solid !important;
  color: skyblue;
}

.highlight {
  border: 0px;
  z-index: -1;
}

.dehighlight {
  background-color: #e9ecef !important;
}

::ng-deep .mat-tab-label {
  font-weight: 900;
  font-size: 20px;
}

::ng-deep .mat-ink-bar{
  background-color: #457b9d !important;
}