<div class="container" #container>
  <div class="flex-container">
    <div class="align">
      <strong><div class="textInc firstHalf align">Speed</div></strong>
      <div class="input align">
        <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        [disabled] = "disabledBool"
        step="1"
        min="1"
        max="10"
        value="5"
        (input)="changeSpeed($event)"
        class="sliderC"
        #speed
        aria-label="units">
        </mat-slider>
      </div>
    </div>
    <div class="align">
      <div class="align space1">
        <button mat-raised-button [disabled] = "disabledBool" class="btn" (click) = "solve()">{{ textOnButtons[0] }}</button>
      </div>
      <div class="align space space1">
        <button mat-raised-button [disabled] = "disabledBool" class="btn"  (click)="generateNew()">{{ textOnButtons[1] }}</button>
      </div>
    </div>
  </div>
<div *ngIf="textOnButtons[0] == 'Visualize'" class="alignCenter">
    <div class="align first changeWidth">
      <mat-form-field class="example-full-width input" appearance="fill">
        <mat-label><strong>Source-X</strong></mat-label>
        <input matInput [disabled] = "disabledBool" [(ngModel)] = "sourceX" #sourceI (focus)="old=sourceX" (change)="getSourceX($event, old)">
      </mat-form-field>
    </div>
    <div class="align changeWidth">
      <mat-form-field class="example-full-width input" appearance="fill">
        <mat-label><strong>Source-Y</strong></mat-label>
        <input matInput [disabled] = "disabledBool" [(ngModel)] = "sourceY" #sourceJ (focus)="old=sourceY" (change)="getSourceY($event, old)">
      </mat-form-field>
    </div>
    <div class="align changeWidth">
      <mat-form-field class="example-full-width" appearance="fill" class="input">
        <mat-label><strong>Destination-X</strong></mat-label>
        <input matInput [disabled] = "disabledBool" [(ngModel)] = "destinationX" #destinationI (focus)="old=destinationX" (change)="getDestinationX($event, old)">
      </mat-form-field>
    </div>
    <div class="align last">
      <mat-form-field class="example-full-width" appearance="fill" class="input">
        <mat-label><strong>Destination-Y</strong></mat-label>
        <input matInput [disabled] = "disabledBool" [(ngModel)] = "destinationY" #destinationJ (focus)="old=destinationY" (change)="getDestinationY($event, old)">
      </mat-form-field>
    </div>
  </div>
</div>
