.elements {
  display: inline;
  background-color: skyblue;
  margin-left: 1px;
  margin-right: 1px;
}
.center {
  display: flex;
  text-align: center;
}
.boundary {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin: auto;
}
.heading {
  text-align: center;
  font-size: 50px;
}
.sort {
  margin: auto;
  text-align: center;
}
.leftRightSpace{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.elements{
  font-weight: bold;
}