.container {
  padding-left: 5px;
  padding-right: 5px;
}
.box {
  box-shadow: 0 16px 10px 0 rgb(0 0 0 / 20%);
  z-index: 100;
}

.changeHeight{
  height: 90px;
}

.nav{
  width: 100%;
}


.icon{
  display: none;
}

.displayinline{
  display: inline-block !important;
}

.material-icons-outlined {
  font-size: 30px;
  font-family: 'Material Icons' !important;
}

@media screen and (min-width: 600px) {
  .makeRight{
    float: right !important;
  } 
}

@media screen and (max-width: 600px) {
  .nav1{
    display: none;
  }
  .icon {
    float: right;
    display: block;
  }
  .iconDis{
    display: none;
  }
  .changeHeight{
    height: 100px;
  }
  .makeVertical{
    display: block;
  }
  .leftDis{
    float: none;
  }
}

span{
  padding-right: 1rem;
}

a{
  color:white;
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed; 
}

button{
  display: none;
}

@media only screen and (max-width: 500px) {
}