<!-- <div class="container"> -->
  <app-header (myEvent1)="getSortingTechnique($event)" [blockHeaderVar]="blockHeaderVar" [unblock]="unblock" [algorithms]="sortingTechniques" algoType="Sorting" algoName="Bubble Sort"></app-header>
  <div class="box">
    <app-speed-and-array
      (myEvent)="getArray($event)"
      (myEvent2)="getSpeed($event)"
      (myEvent3)="sortArray()"
      [unblock]="unblock"
      [textOnButtons] = "textOnButtons"
    ></app-speed-and-array>
    <app-visualizer
      [arrayData]="arrayData"
      [sortTech]="sortingTechniqueName"
      [speed]="speed"
      [sort]="sort"
      (unblockEvent)="unblockEventFunc()"
    ></app-visualizer>
    <!-- <app-footer></app-footer> -->
  </div>
<!-- </div> -->
