<div class="heading">
  <strong *ngIf="algoName == 'DFS' || algoName=='BFS'"> {{ algoName | uppercase }} </strong>
  <strong *ngIf="algoName == 'Dijkstra'">{{algoName | titlecase}}</strong>
</div>
<div class="boundingBox" #board>
  <div class="first">
    <div *ngFor="let i of arr" class="colNum">
      <strong>
        <div  *ngIf="i <= 9">
          {{'0'+i}}
        </div>
      </strong>
      <strong>
        <div  *ngIf="i >= 10">
          {{i}}
        </div>
      </strong>
    </div>
  </div>
  <div #appgrid>
    <div class="row" *ngFor="let rownum of rows">
      <strong><div style="padding-right: 10px;width:20px; min-width:20px" *ngIf="rownum <= 9">{{ '0'+rownum }}</div></strong>
      <strong><div style="padding-right: 10px;width:20px; min-width:20px" *ngIf="rownum >= 10">{{ rownum }}</div></strong>
        <div *ngFor="let colnum of columns" class="box blocks"></div>
    </div>
  </div>
</div>