/* .rowsDiv,
.columnsDiv {
  display: inline-block;
  height: 17px !important;
  width: 17px !important;
  padding: 0px;
  margin: 0px;
}
table {
  border-collapse: collapse;
}
.box {
  height: 15px;
  width: 15px;
  border: 1px black solid;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.rowDiv{
  display:flex;
} */
.rowDiv{
  display:block !important;
  height:15px;
  width:100%;
}
.columnsDiv {
  display: inline-block;
  height: 17px !important;
  width: 17px !important;
  padding: 0px;
  margin: 0px;
}
.row{
  position : relative;
  height : 20px;
  width : 100%;
  /* margin-left : 25px; */
  /* overflow-x : hidden; */
  /* margin-right : 25px; */
}
.col{
  position:relative;
  display:inline-block;
  height:20px;
  width:20px
}
.heading {
  text-align: center;
  font-size: 50px;
}
/* .box {
  height: 100%;
  width: 15px;
  border: 1px black solid;
  display: inline-block;
  padding: 0px;
  margin: 0px;
} */
.box {
  /* position:absolute; */
  height: 97%;
  width: 97%;
  border: 1px black solid;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.row{
  display:flex;
  text-align: center;
  margin: auto;
  /* justify-content: center; */
}
.boundingBox{
  /* display:flex;
  justify-content: center; */
  padding-left: 10px;
  padding-bottom: 20px;
  /* height: 350px; */
  /* width: 90%; */
}
.colNum{
  height: 20px;
  width: 20px;
  min-width: 20px;
  border: 1px white solid;
  display:inline-block;
  text-align: center;
}

.first{
  padding-left: 30px;
  /* position : relative;
  height : 20px;
  width : 100%; */
  display:flex;
  text-align: center;
  margin: auto;
  /* justify-content: center; */
}