<div class="body">
    <div class="center">Algorithm Visualizer</div>

    <mat-grid-list cols="1" rowHeight="400">
        <mat-grid-tile> 
            <!-- <a > -->
            <mat-card routerLink="/sorting-visualizer" class="card">
                <img mat-card-image src="assets/images/Merge Sort New1.png" alt="Sorting Visualizer" height="300">
                <mat-card-content><div class="card-text">Sorting Visualizer</div></mat-card-content>
            </mat-card> 
            <!-- </a> -->
        </mat-grid-tile>
        <mat-grid-tile> 
            <!-- <a > -->
            <mat-card routerLink="/pathfinding-visualizer" class="card">
                <img mat-card-image src="assets/images/BFS.png" alt="Pathfinding Visualizer" height="300">
                <mat-card-content><div class="card-text">Pathfinding Visualizer</div></mat-card-content>
            </mat-card> 
            <!-- </a> -->
        </mat-grid-tile>
    </mat-grid-list>
</div>