.mat-card {
    background-color: #457b9d;
    color: #eeeeee;
    width:80%;
    height:80%;
}

.card{
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 0.2);
}

.card:hover {
    box-shadow: 7px 7px 7px 7px rgb(0 0 0 / 0.3);
}

.center {
    color: black;
    text-align:center;
    font-size: 60px;
    font-weight: bold;
}
.card-text{
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}

img{
    margin-bottom: 0px;
}

.body{
    min-height:100%;
    background-image: linear-gradient(to right, #d16ba5, #c679bf, #b588d4, #9f96e5, #86a4f0, #83acf4, #82b4f7, #82bcf9, #94c1fb, #a5c7fc, #b3cdfd, #c1d3fe);
}